{% extends "wagtailadmin/skeleton.html" %}
{% load pipeline wagtailadmin_tags %}

{% block css %}
  {% stylesheet 'wagtail_css' %}

    {% block extra_css %}{% endblock %}
{% endblock %}

{% block js %}
    
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/jquery-1.10.3.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/jquery-ui-1.10.3.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/jquery.datetimepicker.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/jquery.autosize.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/bootstrap-transition.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/bootstrap-modal.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/bootstrap-tab.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/vendor/jquery.dlmenu.js"></script>
        <script src="{{ STATIC_URL }}wagtailadmin/js/core.js"></script>
        {% main_nav_js %}

    {% block extra_js %}{% endblock %}
{% endblock %}